---
let portfolio=[
    {
        "id":"1",
        "summary":"Landing Page ",
        "content":"Impulsa tus ventas y maximiza tus ganancias hoy",
        "img":"/images/servicio1.png"
    },
    {
        "id":"2",
        "summary":"Sitio Web",
        "content":"Potencia tu empresa  con una  web profesional creado por nuestros expertos",
        "img":"/images/servicio2.png"
    },
    {
        "id":"3",
        "summary":"Tienda Virtual",
        "content":"Transforma y fortalece tu ecommerce con Magento 2.",
        "img":"/images/servicio3.png"
    },
    {
        "id":"4",
        "summary":"Pagina de presentación",
        "content":"Destaca tu marca con una página de presentación profesional",
        "img":"/images/servicio4.png"
    },

]
---

<section id="portfolio-section">
    <div class="portfolio-container">
        <div class="portfolio-detail">
            {
                portfolio.map((item) => (
                    <details name="portfolio-detail-item" class="portfolio-detail-item" data-value={item.id}>
                        <summary>{item.summary}</summary>
                        <p>{item.content}</p>
                    </details>
                ))
            }
        </div>
        <div class="portfolio-gallery">
            
            {
                portfolio.map((item) => (
                    <div class="portfolio-image-container" data-value={item.id}>
                        <img src={item.img} class="portfolio-image" />
                    </div>
                    
                ))
            }
    
        </div>
    
    </div>
</section>

<script>
import { gsap } from "gsap";

    if (window.innerWidth >= 850) {
        
        const portfolioDetailImg = document.querySelectorAll('.portfolio-image-container');
        const portfolioDetailItem = document.querySelectorAll('.portfolio-detail-item');

        let posX=0;
        let posY=0;
        let paso=20;
        let portfolioDetailImgArray = Array.from(portfolioDetailImg)  as HTMLElement[];
        portfolioDetailImgArray.forEach((img) => {
            if(img){
                img.style.transform = `translate(${posX}px, ${posY}px)`;
                img.style.zIndex = `${(portfolioDetailImgArray.length) * paso - posX}`;               
            }
            posX+=paso;
            posY+=paso;
        }); 

        portfolioDetailItem.forEach((item) => {
            item.addEventListener('click', () => {
                let x=0;
                let value = parseInt(item.getAttribute('data-value')  ??"0",10);
                let firstValue = parseInt(portfolioDetailImgArray[0].getAttribute('data-value') ?? "0", 10);
                //let x = value - fisrtValue; 
                if(value>firstValue){
                    x = value - firstValue;
                }
                else if(x!=0){
                    x = x+4;
                }
                for (let i = 0; i < x; i++) {
                    
                    posX=0;
                    posY=0;
                    paso=20;
                

                    portfolioDetailImgArray.forEach((img) => {
                        console.log(img.getAttribute('data-value'));
                        
                        if(posX==0){
                            gsap.to(img, { duration: 1.5, x:posX+ 60,y:posY+60,zIndex:0 ,});
                        }
                        else {
                            //img.style.display = 'none';
                            gsap.to(img, { duration: 1.5, x:posX -20,y:posY-20,zIndex:80-posX});
                        }
                        posX+=paso;
                        posY+=paso;
                    });
                    const firstImg = portfolioDetailImgArray[0];
                    portfolioDetailImgArray.shift();
                    portfolioDetailImgArray.push(firstImg);
                }



            });
        });


        }
    else {
        const images = document.querySelectorAll('.portfolio-image');
        const detailsElements = document.querySelectorAll('.portfolio-detail-item');

        const detailsMap: { [key: string]: HTMLElement } = {};
        detailsElements.forEach(detail => {
            const dataValue = detail.getAttribute('data-value');
            if(dataValue){
                detailsMap[dataValue] = detail as HTMLElement;
            }
        });

        images.forEach(image => {
            const imageContainer = image.closest('.portfolio-image-container');
            const imageValue = imageContainer?.getAttribute('data-value');
            let correspondingDetail; 
            if(imageValue){
                correspondingDetail = detailsMap[imageValue];
            }
            if (correspondingDetail) {
                const imageClone = image.cloneNode(true);
                correspondingDetail.appendChild(imageClone);
                imageContainer?.remove(); // Elimina el contenedor de la imagen original, incluida la imagen
            }
        });
    }



</script>

<style>
    #portfolio-section{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: ;
        width: 100%;
        max-width: 100%;
        background-color: var(--primary-color);
        padding-bottom: 120px;

    }
    .portfolio-container{
        display: flex;
        justify-content: center;
        border-radius: 10px;
    }
    .portfolio-gallery{
        width: 420px;
    }	
    
    .portfolio-detail-item{
        padding: 15px;
        margin: 15px;
        border: 2px solid var(--secondary-color);
        border-radius: 5px;
        cursor: pointer;
        background-color: #ffffff;
        color: var(--secondary-color);
        font-weight: 500;
        font-size: 1.5rem;
        box-shadow: 0 0 3px var(--secondary-color);
    }
    
    .portfolio-image-container{
        padding: 15px;
        margin: 15px;
        border: 2px solid var(--secondary-color);
        border-radius: 5px;
        cursor: pointer;
        background-color: #ffffff;
        color: var(--secondary-color);
        font-weight: 500;
        font-size: 1.5rem;
        box-shadow: 0 0 3px var(--secondary-color);
        position: absolute;
        width: 360px;
    }

    .portfolio-image-container img{
        width: 330px;
        object-fit: cover;
    }

    @media (max-width: 850px) {
        .portfolio-container{
            flex-direction: column;
            width: 100%;
        }

        .portfolio-detail-item{
           
 
        }
        .portfolio-image{
            width: 50%;
            margin: auto;
        }
    }

</style>